<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">[[${session.loginUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/user/logout}">Sign out</a>
        </li>
    </ul>
</nav>
<!--侧边栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${active=='main.html'?'nav-link active':'nav-link'} " th:href="@{/index.html}">
                    <span data-feather="home"></span>
                    首页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='event.html'?'nav-link active':'nav-link'}" th:href="@{/events}">
                    <span data-feather="file"></span>
                    值得记住的事
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='relation.html'?'nav-link active':'nav-link'}" th:href="@{/relations}">
                    <span data-feather="shopping-cart"></span>
                    关系图谱
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='list2.html'?'nav-link active':'nav-link'}" th:href="@{/admins}">
                    <span data-feather="users"></span>
                    账号信息管理
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='hobby.html'?'nav-link active':'nav-link'}" th:href="@{/hobbies}">
                    <span data-feather="bar-chart-2"></span>
                    我们的喜好
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='seccret.html'?'nav-link active':'nav-link'}" th:href="@{/secrets}">
                    <span data-feather="layers"></span>
                    日记记录
                </a>
            </li>
        </ul>

<!--        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
<!--            <span>Saved reports</span>-->
<!--            <a class="d-flex align-items-center text-muted" href="#">-->
<!--                <span data-feather="plus-circle"></span>-->
<!--            </a>-->
<!--        </h6>-->
<!--        <ul class="nav flex-column mb-2">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Current month-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Last quarter-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Social engagement-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Year-end sale-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
</nav>
</html>